<nav class="navbar navbar-expand sticky-top navbar-dark">
	<div class="container-md">
		<a href="" class="navbar-brand">Ping Pong</a>
		<ul class="navbar-nav d-flex align-items-center">
			<li class="nav-item"><a href="views/home.html" class="nav-link active">Home</a></li>
			<li class="nav-item"><a href="views/tournament.html" class="nav-link">Tournament</a></li>
			<li class="nav-item"><a href="" class="nav-link">Chat</a></li>
			<li class="nav-item"><a href="views/profile.html" class="nav-link"><img src="assets/profile.png" alt="profile image"
						class="border border-3 border-success rounded-circle"
						style="width: 50px; height: 50px; object-fit: cover;"></a></li>
		</ul>
	</div>
</nav>
<div id="content-wrapper" class="container-md">
</div>